{% extends "bootstrap/base.html" %}

{% block title %}樹洞君{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<style type=text/css>
#Wrapper {
  background-color: #d5e6ef;
  background-repeat: repeat-x, repeat-x;
  background-size: 100% 100%;
}

.box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e2e2e2;
}

.content {
  position: relative;
  width: 95%;
  margin: auto auto auto auto;
}

a.tab_current:link, a.tab_current:visited, a.tab_current:active {
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  padding: 5px 8px 5px 8px;
  margin-right: 5px;
  border-radius: 3px;
  background-color: #334;
  color: #fff;
}

a.tab:link, a.tab:visited, a.tab:active {
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  padding: 5px 8px 5px 8px;
  margin-right: 5px;
  border-radius: 3px;
  color: #555;
}

.inner {
  padding: 10px;
  font-size: 12px;
  line-height: 150%;
  text-align: left;
}

#Bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.22);
  background-color: #fff;
  text-align: center;
  color: #999;
}

.navbar-default {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

</style>
{% endblock %}

{% block body%}
<div id='Wrapper'>
{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('talks.index')}}">回到主页 <span aria-hidden="true" class="glyphicon glyphicon-globe"></span></a>
        </div>
{#
            <a class="navbar-brand" href="{{ url_for('talks.index') }}">察看留言</a>

            <ul class="nav navbar-nav">

                <li><a href="{{ url_for('talks.index') }}">還是回到主頁</a></li>
#}
                {% if current_user.is_authenticated() or current_user.is_admin  %}
                <ul class="nav navbar-nav">
                <li><a href="{{ url_for('talks.user',
                    username=current_user.username) }}">个人资料 <span aria-hidden="true" class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="{{ url_for('talks.new_talk') }}">说些什么 <span aria-hidden="true" class="glyphicon glyphicon-comment"></span></a></li>
                {% set moderation_count = current_user.for_moderation().count() %}
                <li role='presentation' class='dorpdown'>
                    <a class='dorpdown-toggle' data-toggle='dropdown' href="#" role='button' aria-expanded='false'>
                        审核 <span aria-hidden="true" class="glyphicon
                            glyphicon-saved"></span><span class='caret'></span>
                        {% if moderation_count %}
                        <span class="badge badge-red">{{ moderation_count }}</span>
                        {% endif %}
                    </a>
                    <ul class='dropdown-menu' rolo='menu'>
                        <li><a href="{{ url_for('talks.moderate')
                            }}">留言审核</li></a>
                        <li><a href='#'>新用户准入</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    图片 <span class="glyphicon glyphicon-camera" aria-hidden="true"></span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('files.upload')}}">上传图片 <span aria-hidden="true" class="glyphicon glyphicon-cloud-upload"></span></a></li> 
                        <li><a href="{{ url_for('files.showPic')}}">图片墙 <span aria-hidden="true" class="glyphicon glyphicon-picture"></span></a></li> 
                    </ul>
                </li>
            </ul>
            {#<ul class="nav navbar-nav navbar-right">

                {# if current_user.is_admin %}
                    {% set admin_moderation_count = current_user.for_moderation(True).count() %}
                    <li>
                        <a href="{{ url_for('talks.moderate_admin') }}">審核留言(特級)
                            {% if admin_moderation_count %}
                            <span class="badge badge-red">{{ admin_moderation_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endif #}
                {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if not current_user.is_authenticated() %}
                <li><a href="{{ url_for('auth.login') }}">登陆 <span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
                <li><a href="{{ url_for('auth.register') }}">注册 (这里调下颜色)</a></li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ current_user.gravatar(size=18) }}"> {{ current_user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.logout') }}">登出 <span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="content">
<div class='box'>
<div class="inner" style="background-color: #fff; border-top-left-radius: 3px; border-top-right-radius: 3px;" id="Tabs">
    <a href="#" class="tab_current">0</a>
    <a href="#" class="tab">1</a>
</div>
<div class="cell" style="background-color: #f9f9f9; padding: 10px 10px 10px 20px;">
  <a href="#">0</a> &nbsp; &nbsp; 
  &nbsp; &nbsp; 
</div>
    {# block page_header %}

    <div class='page-header'>
    <h2>樹洞菌肚裏的內容</h2><small></small>
    </div>
    {% endblock #}
    {% for message in get_flashed_messages() %}
    <div class="cell" style="background-color: #fff;
                    padding: 20px 10px 0px 20px;">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
</div>
{% endblock %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>
<div id="Bottom">
    <div class="sep10"></div>
            <a href="#" class="dark" target="_self">关于</a> &nbsp; 
            <span class="snow">·</span> &nbsp; 
             <a href="#" class="dark" target="_self">FAQ</a>
                &nbsp; <span class="snow">·</span> 
                &nbsp; 
                <a href="#" class="dark" target="_self">API</a> 
                &nbsp; 
        <div class="sep5"></div>
        thanks to <b><a href='http://www.v2ex.com'>v2ex</a></b>
        <br>and ,<br> 
        Lovingly made by <b>wyc</b>
        <small style='color: #ccc;'><br>♥ Do have faith in what you're doing.</span>
        <div class="sep20"></div>
</div>
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% endblock %}
